
@{
    ViewBag.Title = "CouponNumMiss";
}
<hr>

<h2>Es fehlt die Coupon Code für Erstellung eines Free Ticket!</h2>
<hr />
<p>
    <a class="btn btn-default" href="@Url.Action("Index", "SaleSystem")" role="button"><span class="glyphicon glyphicon-chevron-left"></span> Back to List</a>
</p>






