@model CinamaLib1.Ticket

@{
    ViewBag.Title = "TickedDeleted";
}
<hr>
<h2>Danke, Ihre Ticket wurde erfolgreich zurückgegeben!</h2>
<hr />

<p>
    <a href="@Url.Action("Index", "ReturnSystem")" class="btn btn-default" role="button"><span class="glyphicon glyphicon-chevron-left"></span> Back to List</a>
    <a href="@Url.Action("Index", "SaleSystem")" class="btn btn-default" role="button"><span class="glyphicon glyphicon-piggy-bank"></span> Online Shop</a>
</p>




