@{
    ViewBag.Title = "About";
}
<hr>
<h2>Impressum</h2>
<h3>Panda Cinema Management System</h3>
<p>
    The Cinema Management System is an all-in-one solution that is capable of handling all ticket-related operations at the cinema. 
    The solution includes a full-fledged cinema management software suite & other modules such as a counter sales platform (full-fledged cinema ticketing system), a web & mobile solution, APIs that can be utilized by third-party vendors across their platforms & a back-end that seamlessly integrates all these different modules to provide real-time synchronized ticket bookings.
</p>

<p>
    <a class="btn btn-default" href="@Url.Action("HomePage", "Home")" role="button"><span class="glyphicon glyphicon-chevron-left"></span> Back to List</a>
</p>