@{
    ViewBag.Title = "Contact";
}
<hr>
<h2>Kontakt</h2>
<h3>Panda Cinema Management System</h3>
<p>
    <h4>Technische Hochschule Ingolstadt</h4>
    <address>
        Esplanade 10<br />
        85049, Ingolstadt<br />
        Deutschland
    </address>

    <address>
        <abbr title="Phone">Pohne:</abbr>
        +49 841 9348-0<br />
        <abbr title="Fax">Fax:</abbr>
        +49 841 9348-2000
    </address>


    <address>
        <strong>Email:</strong>   <a href="mailto:info@thi.de">Info@thi.de</a><br />
    </address>
</p>

<p>
    <a class="btn btn-default" href="@Url.Action("HomePage", "Home")" role="button"><span class="glyphicon glyphicon-chevron-left"></span> Back to List</a>
</p>


