@{
    ViewBag.Title = "Helper";
}
<hr>
<h2>Hilfe</h2>
<h3>Panda Cinema Management System</h3>
<p>Use this area to provide additional information.</p>

<p>
    <a class="btn btn-default" href="@Url.Action("HomePage", "Home")" role="button"><span class="glyphicon glyphicon-chevron-left"></span> Back to List</a>
</p>
